@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap');

.toast{
    background-color: #FFEEBB;
    font-size: 3vh;
    font-family: 'Mali', cursive;
    color: #21094e;
    border-radius: 3rem;
}