@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap');

.toast{
    background-color:#21094e;
    font-size: 3vh;
    font-family: 'Mali', cursive;
    color: #FDFFBC;
    border-radius: 30%;
}